{% load static %}
 <!-- Header Section Begin -->
 <header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="{% url 'home' %}">Homepage</a></li>
                            
                            <li><a href="{% url 'movies' %}">Movies</a></li>
                            <!-- <li><a href="#">Contacts</a></li> -->
                        </ul>
                    </nav>
                </div>
            </div>
            
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->